.card-caption{
        color: #057885 !important;
        margin-left: 10% !important;
}

.card-description{
        margin-left: 5% !important;
        margin-right: 5% !important;
        margin-top: 13%;
        font-size: 15px;
}

.voir{
        color: #057885;
        margin-left:10% ;
}