/*______________Responsivity Position Card______________*/
@media screen and (max-device-width: 767px){
        .team-ui{
            margin-top: 12% !important; 
		}
		.team-back{
            margin-top: 12% !important; 
		}
		.team-exp{
            margin-top: 12% !important; 
        }
}

@media screen and (max-device-width: 991px){
	.team-back{
		margin-top: 10% !important; 
	}
	.team-exp{
		margin-top: 10% !important; 
	}
}




.card-caption{
        color: #057885 !important;
        margin-left: 10% !important;
}

.card-description{
        margin-left: 5% !important;
        margin-right: 5% !important;
        margin-top: 13%;
        font-size: 15px;
}

.voir{
        color: #057885;
        margin-left:10% ;
}