/*bon courage pour la correction ;)*/
body{
	display: flex;
	flex-direction: row;
	padding-right: 2cm;
	background-color: rgb(243, 243, 243);
}
p, ul {
    color: dimgray;
}
#voir {
	display: inline-block;
	position: relative;
	float: right;
	margin-right: 20px
}

button {
	padding:6px 0 6px 0;
	font: 13px Arial;
	background:teal;
	color:rgb(255, 255, 255);
	border-radius:7px;
	width:100px;
	border:1px outset #ccc;
	box-shadow:1px 1px 3px #999;
}
button2 {
	border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:1px 1px 3px #aaa;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
}
#recherche	
{ 
	position:relative; 
	margin-bottom:45px; 
}
  input 
  {
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:200px;
	border:none;
	border-bottom:1px solid #757575;
  }
  label {
	color:#999; 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }
  input:focus ~ label, input:valid ~ label 
  {
	top:-20px;
	font-size:14px;
	color:#5264AE;
  }
  h3{
	  color: teal;
  }
  section1 {
      padding: 2rem;
	  background-color:white;
	  border-style: outset;
	  border-color: gainsboro;
	  border-width: 1px;
	  width: 25%;
	  height: 85%;
	  left: 5%;
  }
  section2 {
	padding: 2rem;
	background-color:white;
	border-style: outset;
	border-color: gainsboro;
	border-width: 1px;
	width: 55%;
	height: 85%;
	margin-left: 50px;
  }
 #icone {
	 width: 4.5%;
	 height: 4.5%;
	 position: relative;
 }