
 <!DOCTYPE html>
 	<html>
	 <head>
	 	<title>projet iTeam-S</title>
	 		<meta charset="utf-8"/>
         		<meta content="width=device-width, initial-scale=1.0" name="viewport">
         			<!-- Favicons -->
        			<link href="assets/img/LOGO.png" rel="icon">
  					
    <!-- Menu de navigation --> 
	</head>
	 <body>
	  <header id="header" class="fixed-top ">
   		<div class="container-fluid">
     	 <div class="row justify-content-center">
       	   <div class="col-xl-9 d-flex align-items-center">
            <a href="index.html" class="logo mr-auto"><img src="assets/img/LOGO.png" alt="" class="img-fluid">  <span class="iteam-text-logo">iTeam-$</span></a>
         	    <nav class="nav-menu d-none d-lg-block">
            	  <ul>
             	    <li class="active"><a href="index.html">Accueil</a></li>
              		<li><a href="view/projet.html">Projets</a></li>
              	    <li><a href="view/membre.html">Qui sommes nous</a></li>
           		  </ul>
         		</nav>
    <!-- .nav-menu -->
         		    <a href="view/rejoindre.html" class="join-btn ">Nous réjoindre</a>
       		</div>
     	  </div>
   		</div>
  	  </header>
    <!-- End Header -->


     <!--Navigation à l'intérieur de l'interface projet -->
	    <div class="navigation-projet">
		  <section>
			<nav class="navigation-dans-projet"   id="navigation-dans-projet">
			  <ul>
				<li><a class="tous-les-projets" href="#">Tous les projets </a> </li>
				<li><a class="en-cours" href="#">En cours </a></li>
				<li><a class="terminees" href="#">Terminées</a></li>
			  </ul>
			</nav>
		  </section>
	    </div>
     <!-- les projets -->
        <div class="les-projets">
    	  <section>
    		<table>
    		  <tr>
     <!-- le projet numero 1 -->
    			<div class="projet1" id="projet1">		
    			  <td  class="table-project" id="table-project">
     <!-- les # sont les images de fond dans les projets que j'ai pas encore completées -->
    				<p>#</p>
    					
    				 <a href="#"><h3>Game store</h3></a>
           			 <p>Un plateforme de vente de jeux vidéos en ligne.</br> Existe en deux versions: PHP et Django</p>
    				    	 
    			  </td >
    			</div>
     <!-- le projet numero 2 -->
    			<div class="projet2" id="projet2">
    			  <td class="table-project" id="table-project">
     <!-- les # sont les images de fond dans les projets que j'ai pas encore completées -->	
    				<p>#</p>
    						
                     <a href="#"><h3>Game store</h3></a>
    				 <p>Un plateforme de vente de jeux vidéos en ligne.</br> Existe en deux versions: PHP et Django</div></p>
    			        	
    			   </td>
    		    </div>
    			  <div class="projet3" id="projet3">
    			    <td class="table-project" id="table-project">
   	<!-- les # sont les images de fond dans les projets que j'ai pas encore completées -->	
    			    <p>#</p>
    			    		
    			     <a href="#"><h3> Game store</h3></a>
					 <p> Un plateforme de vente de jeux vidéos en ligne.</br>Existe en deux versions: PHP et Django </p>
					 
                    </td>
                  </div>
                 </tr>
                </table>
               </section>
              </div>
      </body>
  </html>
