<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Nos projets</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/LOGO.png" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/card.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/fontawesome.min.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YTB7XYYMPW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YTB7XYYMPW');
    </script>

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center">
                    <a href="../index.html" class="logo mr-auto"><img src="../assets/img/LOGO.png" alt="" class="img-fluid"> <span class="iteam-text-logo">iTeam-$</span></a>
                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li><a href="../index.html">Accueil</a></li>
                            <li class="active"><a href="projet.html">Projets</a></li>
                            <li><a href="membre.html">Qui sommes-nous</a></li>
                            <li><a href="actualite.html">Actualités</a></li>
                        </ul>
                    </nav>
                    <!-- .nav-menu -->
                    <a href="../index.html#contact" class="join-btn ">Nous contacter</a>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Com Section ======= -->
    <section id="com_custom_projet" class="d-flex align-items-center">
        <div class="bgprojets">
            <div class="container-fluid" data-aos="fade-up">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-4 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                        <h1 style="position: relative; top: 20%;">Nos projets</h1>
                        <h2 style="position: relative; top: 30%; font-size: 16px; line-height: 30px;"> La communauté a réalisé des projets internes et externes. Elle est actuellement en train de concevoir d'autres projets.</h2>
                    </div>
                    <div class="col-xl-4 col-lg-6 order-1 order-lg-2 com-img" data-aos="zoom-in" data-aos-delay="150">
                        <img src="assets/img/hero-img_1.png" class="img-fluid animated" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Com -->


    <div class="menuprojets">
        <p class="under">Tous les projets</p>
    </div>

    <br>

    <!-- ======= Projets Section ======= -->
    <section id="projets">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 p-1">

                <div v-for="projet of data" class="col d-flex justify-content-center flex-column">
                    <a v-bind:href="projet.lien">
                        <div class="card text-align-left">
                            <img v-bind:src="projet.couverture" class="card-img.top" alt="image">
                            <div class="card-body">
                                <h5 class="card-status">{{ projet.status }}</h5>
                                <h5 class="card-title">{{ projet.nom }}</h5>
                                <p class="card-text text-bl">{{ projet.descriptions }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

    </section>


    <!-- ======= End projets Section ======= -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top ">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>iTeam-$</h3>
                        <p>
                            Ambatoroka IV17JZ<br> Antananarivo
                            <br> Madagascar
                            <br><br>
                            <strong>Téléphone:</strong> +261 34 61 780 78<br>
                            <strong>Email:</strong> contact@iteams.mg<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Liens utiles</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="../index.html">Accueil</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="projet.html">Projets</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="membre.html">Qui sommes-nous</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="actualite.html">Actualites</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Nos services</h4>
                        <ul>
                            <li class="our-services"><i class="bx bx-chevron-right"></i> Web scraping</li>
                            <li class="our-services"><i class="bx bx-chevron-right"></i> Développement d'application</li>
                            <li class="our-services"><i class="bx bx-chevron-right"></i> Automatisation & scripting</li>
                            <li class="our-services"><i class="bx bx-chevron-right"></i> Bot messenger</li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Réjoignez notre Newsletter</h4>
                        <p>Recevoir continuellement des informations concernant la communauté</p>
                        <form>
                            <input type="email" name="email"><input type="submit" value="S'inscrire">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">

            <div class="copyright-wrap d-md-flex py-4">
                <div class="mr-md-auto text-center text-md-left">
                    <div class="copyright">
                        &copy; Copyright <strong><span>iTeam-$</span></strong>. Tout droits reservés
                    </div>
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="https://web.facebook.com/iTeam.Community" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="https://github.com/iTeam-S" class="github"><i class="bx bxl-github"></i></a>
                    <a href="https://www.linkedin.com/company/iteamscommunity" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer -->



    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../assets/vendor/counterup/counterup.min.js"></script>
    <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/venobox/venobox.min.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        //fetch des données projets
        var app = new Vue({
            el: '#projets',
            data() {
                return {
                    data: null
                }
            },
            beforeMount() {
                this.getData();
            },
            methods: {
                async getData() {
                    const res = await fetch('https://api.iteam-s.mg/api/projet');
                    const donnees = await res.json();
                    this.data = Object.values(donnees);
                }
            }
        })
    </script>
</body>

</html>
