<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iTeam-S | Rejoindre</title>
    <link href="../assets/img/LOGO.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/card.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../assets/fontawesome/css/fontawesome.min.css" rel="stylesheet">
   
    <!--bon courage pour la correction-->
</head>
<body>

      <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <a href="index.html" class="logo mr-auto"><img src="../assets/img/LOGO.png" alt="" class="img-fluid"> <span class="iteam-text-logo">iTeam-$</span></a>
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Accueil</a></li>
              <li><a href="view/projet.html">Projets</a></li>
              <li><a href="view/Squadfree/index.html">Qui sommes nous</a></li>
            </ul>
          </nav><!-- .nav-menu -->
          <a href="view/rejoindre.html" class="join-btn ">Nous réjoindre</a>
        </div>
      </div>
    </div>
  </header><!-- End Header -->

  
  
  <!-- ======= Com Section ======= -->
  <section id="com_custom" class="d-flex align-items-center">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-left" style="margin-left: 8% !important;">
        <div class=" pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Réjoignez notre communauté</h2>
        </div>
      </div>
    </div>
  </section><!-- End Com -->



  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row">
        
        <div class="col-lg-4">
            <div class="info-box_custom mb-4">
                <div class="condition">
                    <h3  class="rechercher" style="color:teal; font-family: Product !important;">Rechercher</h3>
                    <div id="recherche">
                        <input type="text" required>
                        <label style="font-family: Product;">Nom du poste</label>
                    </div>
                    <h3 style="font-family: Product !important;">Postes disponibles</h3>
                    <div id="poste1">
                        <h5 style="color: #057885; font-weight: bold; font-family: Product !important; margin-top:8% ; margin-left: 10%;">Développeur Python</h5>
                        <p style="font-family: Product !important; margin-left: 7%; font-size:18px">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button id="voir"> Voir les details</button>
                    </div>
                    <hr>
                    <div id="poste2">
                        <h5 style="color: #057885; font-weight: bold; font-family: Product !important; margin-top:8% ; margin-left: 10%;">Responsable jurudique</h5>
                        <p style="font-family: Product !important; margin-left: 7%; font-size:18px">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button id="voir"> Voir les details</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8">
          <div class="info-box_custom  mb-4">
            <div class="condition">
                <h3 style="font-family: Product !important;">Conditions d'admission</h3>
                <p class="info-p1" style="font-family: Product !important;">Les conditons pour accéder au poste de développeur chez nous:</p>
                <ul>
                    <li style="font-family: Product !important;">3 ans d'expérience avec python</li>
                    <li style="font-family: Product !important;">Licence en informatique</li>
                    <li style="font-family: Product !important;">Rigoureux</li>
                    <li style="font-family: Product !important;">Connais toutes les technologies Python</li>
                    <li style="font-family: Product !important;">Connaissance de base sur C#, Java et Arduino serai un atout</li>
                    <li style="font-family: Product !important;">Parle courrament le japonais</li>
                </ul>
                <p class="info-p2" style="font-family: Product !important;">Vous pouvez postuler en envoyant votre CV sur le formulaire ci-dessous</p>
                <form class="cv-upload" style="font-family: Product !important;">
                    <input type="file" name="file" id="file" class="inputfile" />
                    <label for="file"><span><i class="fa fa-file-upload"></i></span> Cliquez pour ajouter votre cv</label>
                    <button type="submit" class="cv-send"><span><i class="fa fa-paper-plane"></i></span> Envoyer</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->



    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../assets/vendor/counterup/counterup.min.js"></script>
    <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/venobox/venobox.min.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>
